<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lançamento de Caixa</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Consulta e Cadastro <b>de Lançamentos</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Cadastrar</span></a>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>Id</th>
                        <th>Referência</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                        <th>Data</th>
						<th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="lancamento : ${lancamentos}">
                        <td th:text="${lancamento.id}" />   
                        <td th:text="${lancamento.referencia.nome}" />
                        <td th:text="${lancamento.tipo}" />   
                        <td th:text="${lancamento.valor}" />
                        <td th:text="${lancamento.data}" />
                        <td>
                            <form action="#" th:action="@{'/lancamentos/{id}'(id=${lancamento.id})}" th:method="delete" >
	                            <button type="submit" class="btn-link delete">
	                            	<i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
	                            </button>
							</form>
		
							<!-- Delete Modal HTML -->
                        </td> 
                    </tr>				
                </tbody>
            </table>				
            	<!-- Edit Modal HTML -->
		<div id="addEmployeeModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="#" th:action="@{/lancamentos}" th:object="${lancamento}" method="post">
						<div class="modal-header">						
							<h4 class="modal-title">Nova referência</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>Referência</label>
								<select th:object="${lancamento}" th:field="*{referencia}"> 
    								<option th:each="ref : ${referencias}" th:value="${ref.id}" th:text="${ref.nome}" />
								</select>
							</div>	
							<div class="form-group">
								<label>Data</label>
								<input th:field="*{data}" type="date" class="form-control" required>
							</div>
							<div class="form-group">
								<label>Tipo</label>
								<select th:field="*{tipo}"> 
									<option value="Entrada">Entrada</option>
									<option value="Saída">Saída</option>		 
								</select>
							</div>
							<div class="form-group">
								<label>Valor</label>
								<input th:field="*{valor}" type="number" min="1" step="any" />
							</div>					
						</div>					
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
							<input type="submit" class="btn btn-success" value="Adicionar">
						</div>
					</form>
				</div>
		</div>
	</div>
        </div>
    </div>
</body>
</html>